<body style="background-color:#eeeeee">
<h1 style="width:650px; margin:0 auto;">Wellcome to Online Shopping</h1>
<div style="width:500px; margin:0 auto;">
  <h4>Signup Form</h4>
  <%= form_for(@user, :onsubmit =>"return validateForm()", :name =>"myForm") do |f| %>
    <label> First Name </label>
    <br/>
    <%= f.text_field :first_name %>
    <br/>
    <label> Last Name </label>
    <br/>
    <%= f.text_field :last_name %>
    <br/>
    <label> Email </label>
    <br/>
    <%= f.text_field :email %>
    <br/>
    <label> Phone no. </label>
    <br/>
    <%= f.text_field :phone %>
    <br/>
    <label> Password </label>
    <br/>
    <%= f.password_field :encrypted_password %>
    <br/>
    <label> country </label>
    <br/>
    <%= f.text_field :country %>
    <br/>
    <label> state </label>
    <br/>
    <%= f.text_field :state %>
    <br/>
    <label> city </label>
    <br/>
    <%= f.text_field :city %>
    <br/>
    <%= f.hidden_field :is_admin, :value =>"false"%>
    <%= f.submit "Signup" %>
    
  <% end %>
</div>
</body>
<script>
function validateForm()
{
var x=document.forms["myForm"]["fname"].value;
if (x==null || x=="")
  {
  alert("First name must be filled out");
  return false;
  }
}
</script>
